.footer {
  height: 100px;
  margin-top: -100px;
  background-color: rgb(131, 2, 145);
  position: sticky;
  z-index: 5;
}

h3 {
  text-align: center;
  color: white;
}

.footer a {
  margin-right: 0px;
  color: rgb(255, 255, 255);
  padding-left: 0px;
  text-decoration: none;
}

.cp-text{ 
  color: rgba(0,0,0,.7); 
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}
