.sidebar {
  min-height: 100vh;
  height: max-content;
  width: max-content;
  background-color: #0fbd1b;
  position: absolute;
  z-index: 2;
}


.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
